[submodule "unikernel-httpreply"]
	path = unikernel-httpreply
	url = https://github.com/nubificus/app-httpreply.git
[submodule ".unikernel-redis"]
	path = .unikernel-redis
	url = git@github.com:nubificus/app-redis.git
[submodule "unikernel-redis"]
	path = unikernel-redis
	url = git@github.com:nubificus/app-redis.git
[submodule "mirage-skeleton"]
	path = mirage-skeleton
	url = git@github.com:mirage/mirage-skeleton.git
